name: Terratest
on: pull_request

permissions: {}

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: '1.22.x'

      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        name: Setup Terraform
        with:
          terraform_wrapper: false

      - name: Install dependencies
        run: |
          pwd
          cd test
          go get .

      - name: Test with the Go CLI
        run: |
          pwd
          cd test
          go test -v

      - name: Check for updated README (terraform-docs)
        uses: terraform-docs/gh-actions@6de6da0cefcc6b4b7a5cbea4d79d97060733093c # v1.4.1
        with:
          working-dir: .
          fail-on-diff: "true"
          config-file: ".terraform-docs.yml"
